.header-list,
.irreplaceable-list,
.order-list,
.slick-dots,
.testimonials-slider__wrap,
.use-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #060e3f;
  background-color: #fff;
}
body.wf-inactive {
  font-family: Arial, Helvetica, sans-serif;
}
.mk-wrapper {
  width: 480px;
  margin: 0 auto;
}
.header {
  position: relative;
}
.header-topbar {
  padding: 6px 10px;
  background-color: #01cc00;
}
.header__title {
  text-align: center;
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 3em;
}
.header-bottombar {
  padding: 10px;
  background-color: #fff;
}
.header__subtitle {
  text-align: center;
  margin: 0;
  font-weight: 500;
}
.header-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: #b2050b;
}
.header-list__item {
  width: 33.3%;
  min-width: 33.3%;
  position: relative;
  padding: 20px 5px;
}
.header-list__item:not(:last-child):before {
  content: "";
  position: absolute;
  height: calc(100% - 6px);
  width: 3px;
  top: 3px;
  right: 1px;
  border-radius: 2px;
  background-color: #fff;
}
.header-list__item p {
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0;
}
.header-cta {
  background-color: #fbfa90;
}
.price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  align-items: center;
}
.price > span {
  width: 50%;
  min-width: 50%;
  padding: 20px 5px;
}
.price > span.old {
  color: #000;
  font-size: 1.5em;
  text-align: right;
  padding-right: 20px;
  text-decoration: line-through;
}
.price > span.new {
  font-size: 2.3em;
  font-weight: 500;
  padding-left: 20px;
}
.hero {
  position: relative;
  height: 400px;
  background: url(../images/hero-bg.jpg) no-repeat 50% 0;
  background-size: cover;
}
.hero .discount {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  font-size: 2em;
}
.hero .discount,
.mk-button {
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.mk-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #01cc00;
  display: block;
  max-width: 400px;
  padding: 0.7em 0.5em;
  font-size: 1.6em;
  margin: 0 auto;
}
.timer {
  padding-bottom: 1px;
}
.timer__remain,
.timer__stock {
  text-align: center;
}
.timer__remain {
  font-size: 1.8em;
  font-weight: 500;
}
.timer__stock {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.timer__stock span {
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background-color: #b2050b;
  padding: 4px;
  font-size: 1.2em;
}
.section {
  padding: 40px 0;
}
.section__title {
  text-align: center;
  padding: 0 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #060e3f;
  font-size: 1.8em;
  margin: 0;
  margin-bottom: 20px;
}
.need {
  background-color: #fff;
}
.need__text {
  padding: 0 10px;
  font-size: 1.3em;
  line-height: 1.3;
  margin: 0;
}
.need__video {
  padding: 20px 0;
  height: 280px;
  background-color: #000;
}
.need__video iframe {
  border: none;
  width: 100% !important;
  height: 100% !important;
}
.irreplaceable {
  padding-bottom: 0;
  margin-bottom: 40px;
  background-color: #fbfa90;
}
.irreplaceable-list {
  padding: 0 10px;
}
.irreplaceable-list__item {
  padding: 20px 0;
  padding-left: 60px;
  position: relative;
}
.irreplaceable-list__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 40px;
}
.irreplaceable-list__item:first-child {
  background: url(../images/bullet1.png) no-repeat 0 50%;
}
.irreplaceable-list__item:nth-child(2) {
  background: url(../images/bullet2.png) no-repeat 0 50%;
}
.irreplaceable-list__item:nth-child(3) {
  background: url(../images/bullet3.png) no-repeat 0 50%;
}
.irreplaceable-list__item:nth-child(4) {
  background: url(../images/bullet4.png) no-repeat 0 50%;
}
.irreplaceable-list__item h3 {
  font-weight: 500;
  font-size: 1.4em;
  margin: 0;
}
.irreplaceable-list__item p {
  margin: 0;
  font-size: 1.2em;
}
.use-list__item {
  padding: 20px 10px;
}
.use-list__item img {
  display: block;
  margin: 0 auto;
}
.use-list__item h3 {
  margin: 0;
  margin-top: 20px;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.use-list__item p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3;
}
.opinion {
  background-color: #fbfa90;
}
.opinion > img {
  width: 100%;
}
.opinion > h3 {
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.4em;
}
.opinion > h3 span {
  text-transform: uppercase;
  display: block;
  font-weight: 500;
}
.opinion > p {
  padding: 0 10px;
  line-height: 1.3;
  font-size: 1.2em;
}
.testimonials {
  padding-bottom: 60px;
  background-color: #ccc;
}
.testimonials-slider {
  position: relative;
}
.testimonials-slider__wrap {
  margin: 0 30px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.4);
}
.testimonials-slider__item {
  border-radius: 6px;
  padding-bottom: 40px;
  overflow: hidden;
}
.testimonials-slider__item__image {
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.testimonials-slider__item__text {
  font-size: 1.2em;
  text-align: justify;
  padding: 10px;
}
.testimonials-slider__item__text span {
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.order-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.order-list__item {
  padding: 20px 10px;
  width: 50%;
  text-align: center;
}
.order-list__item img {
  display: block;
  margin: 0 auto;
}
.order-list__item p {
  font-weight: 500;
  text-align: center;
  font-size: 1.2em;
}
.form {
  padding: 20px 10px;
  background-color: #fbfa90;
}
.form .fields {
  width: 100%;
}
.form .fields--double {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.form .fields--double .seventy {
  width: 70%;
  min-width: 70%;
  padding-right: 5px;
}
.form .fields--double .thirty {
  width: 30%;
  min-width: 30%;
  padding-left: 5px;
}
.form input,
.form label,
.form select,
.form textarea {
  display: block;
  width: 100%;
}
.form label {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 4px;
}
.form input,
.form select,
.form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  background-color: #fff;
}
.footer {
  padding: 10px;
}
.footer p {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}
.footer p a {
  color: inherit;
  text-decoration: underline;
}
.slick-dots {
  width: 100%;
  left: 0;
  bottom: -40px;
  position: absolute;
  text-align: center;
}
.slick-dots li {
  margin: 0 5px;
  display: inline-block;
}
.slick-dots li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none !important;
  border: none;
  text-indent: -99999px;
  background-color: transparent;
  padding: 0;
  line-height: 1;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.25s ease;
}
.slick-dots li.slick-active button,
.slick-dots li:active button,
.slick-dots li:hover button {
  background-color: #000;
}
.slider-control {
  height: 26px;
  width: 16px;
  display: block;
  background-image: url(../images/arrows-simple.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  cursor: pointer;
}
.slider-control.slider-prev {
  left: 5px;
  background-position: 0 0;
}
.slider-control.slider-next {
  right: 5px;
  background-position: 100% 0;
}
.flip-clock-label {
  text-transform: uppercase;
}
